<%# Log in form. Does not take a password for verification %>

<%= form_for :session do |form| %> <%# :session?? %>
  <%= form.label :username, "Enter your username" %>
  <%= form.text_field :username, autocomplete: "off" %>
  <%= form.submit "Sign In" %>
<% end %>

<h1 class="text-danger">Hello</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>